<p>Hola <%= @user.name %><br><br>
Se li envia aquest correu per confirmar que és vostè qui sol·licita el canvi de contrasenya. El enllaç expira a les 4 hores següents a la seva petició.
<br><br><%= "#{@reset_password_link}" %>
</p>
