<% provide :title, t(:map) %>

<h1><%= t(:map) %></h1>

<div id="map">
</div>

<div id="map-legend">
	<ul>
		<% Location.location_types.each do |type| %>
			<%= raw "<li><img src=\"assets/#{type.location_type}.png\" />#{type.location_type.humanize}</li>" %>
		<% end %>
	</ul>
</div>

<script type="text/javascript">
function initialize() {
	var mapOptions = {
			center: new google.maps.LatLng(41.3958, 2.1739),
			zoom: 13,
			disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
	};
	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	loadMarkers(map);
}
function loadMarkers(map) {
	$.get("locations.json" , {}, function(data) { drawMarkers(map,data); })
}
function drawMarkers(map, markers) {
	for(i = 0, l = markers.length; i < l; i++) {
		drawMarker(map, markers[i]);
	}
}
function drawMarker(map, location) {
	var content = getMarkerContent(location);
	var infoWindow = new google.maps.InfoWindow()
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(location.latitude, location.longitude),
		map: map,
		title: location.name,
		icon: "assets/" + location.location_type + ".png"
	});
	(function(marker, content) {
		google.maps.event.addListener(marker, "click", function() {
			infoWindow.setContent(content);
			infoWindow.open(map,marker);
		});
	}
	)(marker, content);
}
function getMarkerContent(marker) {
	var content = "<strong>" + marker.name + "</strong><br>";	
	if(marker.description != null){
		content = content + marker.description + "<br>";
	}
	if(marker.address != null) {
		content = content + marker.address + "<br>";
	}
	if(marker.phone != null) {
		content = content + marker.phone + "<br>";
	}
	return content;
}

//JQuery magic, substitutes "window.onload = loadScript" in the GMaps guide by doing it properly
$(document).ready(loadScript);
</script>