/* Styling for the login form */

form#login_form {
	margin-left: 20%;
	margin-right: 20%;

	label {
		padding: 5px;
		border-radius: 5px;
	}

	input, select {
		background-color: white;
		display: block;
		padding: 5px;
		border-radius: 5px;
		width: 60%;
		color: black;
		text-decoration: none;
	}

	input[type="submit"] {
		background-color: #a00;
		color: white;
		border: 0px;
		width: auto;
		padding: 10px;
		margin-right: 40%;
		float: right;
		text-decoration: none;
		&:hover {
			background-color: #600;
		}
	}

	.field_with_errors {
		background-color: white;
		width: 60%;
		border-radius: 4px;
		label {
			background-color: #f00;
			padding: 5px;
			border-radius: 5px;
			width: auto;
			color: black;
		}
		input {
			width: 100%;
		}
	}
}