<% provide(:title, t(:form_vehicle_edit_title)) %>
<h1><%= t(:form_vehicle_edit_title) %></h1>

<%= render 'form' %>

<%= link_to t(:resource_show), @vehicle %> |
<%= link_to t(:resource_back), vehicles_path %>
