<% provide :title, t(:map) %>

<h1><%= t(:map) %></h1>

<div id="map">
</div>


<script type="text/javascript">
var markers = [];

function initialize() {
	var mapOptions = {
			center: new google.maps.LatLng(41.3958, 2.1739),
			zoom: 13,
			disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
	};
	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	startTimer(map);
}

function startTimer(map) {
	loadMarkers(map);
	
	var interval = window.setInterval(function() {
		loadMarkers(map);
	}, 5000);
}

function loadMarkers(map) {
	$.get("vehicle_positions.json",{}, function(data) { drawVehicles(map, data); })
}

function drawVehicles(map, vehicles) {
	if(markers.length > 0) {
		for(i = 0, l = markers.length; i < l; i++) {
			markers[i].setMap(null);
		}
	}
	markers = [];
	for(i = 0, l = vehicles.length; i < l; i++) {
		drawMarker(map, vehicles[i]);
	}
}

function drawMarker(map, vehicle) {
	var infoWindow = new google.maps.InfoWindow()
	var marker = new google.maps.Marker({
		map: map,
		position: new google.maps.LatLng(vehicle.latitude, vehicle.longitude),
		title: vehicle.name,
		icon: "assets/vehicles/" + vehicle.indicative + ".png"
	});
	markers.push(marker);
}

//JQuery magic, substitutes "window.onload = loadScript" in the GMaps guide by doing it properly
$(document).ready(loadScript);
</script>