<% provide :title, t(:map) %>

<h1><%= t(:map) %></h1>

<div id="map">
</div>


<script type="text/javascript">
function initialize() {
	var mapOptions = {
			center: new google.maps.LatLng(41.3958, 2.1739),
			zoom: 13,
			disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
	};
	var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	startTimer(map);
	
}

function startTimer(map) {
	$.get("../vehicle_positions.json",{}, function(data) { drawVehicles(map, data); })
}

function retrieveVehicles() {
	return <%= raw @vehicles.to_json %>;
}

function drawVehicles(map, vehicles) {
	for(i = 0, l = vehicles.length; i < l; i++) {
		drawMarker(map, vehicles[i]);
	}
}

function drawMarker(map, vehicle) {
	var infoWindow = new google.maps.InfoWindow()
	new google.maps.Marker({
		map: map,
		position: new google.maps.LatLng(vehicle.latitude, vehicle.longitude),
		title: vehicle.name,
		icon: "../assets/vehicles/" + vehicle.indicative + ".png"
	});
}

//JQuery magic, substitutes "window.onload = loadScript" in the GMaps guide by doing it properly
$(document).ready(loadScript);
</script>